body {
  background: #a9d7e9;
  text-align: center;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
}

.form-title {
  font-size: 22px;
  padding-top: 40px;
}
.form {
  background-color: #f3f3f3;
  border-radius: 10px;
  margin: auto;
  width: 800px;
}

.input-fields {
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  width: 280px;
}

p {
  text-align: center;
}
button {
  background: #6ba2ce;
  border: none;
  font-size: 1rem;
  margin: 10px;
  color: #fff;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  height: 40px;
  width: 80px;
  border-radius: 3px;
}
.form-rows {
  display: block;
  position: static;
  padding-bottom: 10px;
}
ul {
  text-align: left;
  display: block;
}
.fields {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 48%;
}
#event-details {
  resize: vertical;
}
/* .rating {
  text-align: right;
} */
.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}
.radio {
  position: relative;
  left: -43px;
  padding-bottom: 10px;
}
.checkbox {
  position: relative;
  left: -43px;
  padding-bottom: 10px;
}
#location-select {
  vertical-align: top;
  height: 35px;
  width: 140px;
}
.drop-down {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 15px 10px 10px 10px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}
